
body {
  margin: 0;
  background-color: #FFDEB4;
  text-align: center;
}

.purpleh{
  color: #7A4069;
}

a {
  color: #716F81;
}

.font1 {
  margin: 0;
  font-family: pacifico;
  font-size: 5rem;
  color: #3F3351;
  line-height: 2;
}

.font2 {
  font-family: 'Signika Negative', sans-serif;
  margin: 0;
  font-size: 2.22rem;
  color: #7A4069;
  line-height: 2;
}

.top-container {
  height: 750px;
  width: 100%;
  position: relative;
  text-align: center;
}

.top-cloud {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 80%;
}

.bottom-cloud {
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  height: 70%;
}

.mountain {
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.name {
  position: absolute;
  text-align: center;
  top: 20%;
  left: 20%;
  right: 20%;
}

.emotional-intelligence {
  width: 25%;
  height: 200px;
  border-radius: 50%;
  float: right;
  margin-left: 30px;

}

.publicspeaking {
  width: 25%;
  height: 100%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.profile-img {
  width: 25%;
  height: 50%;
  border-radius: 50%;
  margin-top: 100px;
}

.skill-row
{
  text-align: left;
  width: 50%;
  margin: 100px auto;
  line-height: 2;
  height: 200px;
  font-size: 1rem;
}

.yourline
{font-size: 3rem;
color: #7A4069;
}


.bio{
  width:20%;
  margin: auto auto 100px ;
}


hr
{
  border:none;
  border-top: 0.4rem dotted #FDF5CA;
  width:10%;
  margin:100px auto;
}


.myskills
{
font-size: 3rem;
color: #7A4069;
}


.bottom-container
{
  width: 100%;
  background-color: #F68989;
  height: 20px;
  padding-top: 60px;
  padding-bottom: 80px;
  margin: 100px 0 0;
  text-align: center;


}

.cp
{
color: white;
font-family: serif;
font-size: 0.75rem;
padding:20px 0 ;
}

.footer-link
{
  margin:50px 20px ;
  text-decoration: none;

}



.btn:hover
{background-color: white;
cursor:pointer;
transition-duration: 0.4s;
color:#F68989;
border-color: white ;
}

.git
{
  font-size: 3rem;
  color: #7A4069;
}


.git2{
  font-size: 2rem;
  color: #7A4069;
}

p{
  line-height: 2;
}



.btn {
  background: #CA4E79;
  background-image: -webkit-linear-gradient(top, #CA4E79, #F68989);
  background-image: -moz-linear-gradient(top, #CA4E79, #F68989);
  background-image: -ms-linear-gradient(top, #CA4E79, #F68989);
  background-image: -o-linear-gradient(top, #CA4E79, #F68989);
  background-image: linear-gradient(to bottom, #CA4E79, #F68989);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family:  'Signika Negative', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 0;
  text-decoration: none;
}

.btn:hover {
  background: #FF8C8C;
  background-image: -webkit-linear-gradient(top, #FF8C8C, #F3C5C5);
  background-image: -moz-linear-gradient(top, #FF8C8C, #F3C5C5);
  background-image: -ms-linear-gradient(top, #FF8C8C, #F3C5C5);
  background-image: -o-linear-gradient(top, #FF8C8C, #F3C5C5);
  background-image: linear-gradient(to bottom, #FF8C8C, #F3C5C5);
  text-decoration: none;
  color:white;
}

.footer-link:hover
{
  color:white;
}
